{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">About Us</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            In 2024, ChamPlace was founded with a vision to revolutionize the way Tunisian football enthusiasts engage with the sport. Born out of a passion for football and a recognition of the challenges faced by fans in accessing comprehensive league information, ChamPlace emerged as a beacon of digital innovation. Our platform serves as a gateway to the heart of Tunisian football, offering a seamless experience for fans to access live match updates, hassle-free ticket reservations, exclusive merchandise, and vibrant community interactions. ChamPlace is more than just an app; it's a digital revolution tailored specifically for Tunisian football enthusiasts, redefining the way fans experience and engage with the sport.
                        </p>
                    </div>
                </div>
            </div>
    </div>
    <div class="container mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Our Story</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            At ChamPlace, our journey began with a deep understanding of the undeniable popularity of football in Tunisia and the persistent challenge of accessing reliable league information. Existing football apps often fell short in meeting the specific needs of Tunisian supporters, lacking localized content and providing a subpar user experience. Recognizing these gaps, we set out to develop a comprehensive football app meticulously designed for fans of the Tunisian league. ChamPlace is the culmination of our commitment to bridging the gap between Tunisian football enthusiasts and the information they crave, while fostering a vibrant community of fans.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Our Goals</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Our primary goal at ChamPlace is to elevate the Tunisian football experience to new heights. We aim to provide fans with unrivaled access to match results, player transfers, news articles, and seamless interaction with other users and social networks, all within a user-friendly interface. Additionally, we are dedicated to promoting initiatives of sustainability within the football community and offering products specific to the Tunisian league and Tunisian sports in general. As we continue to evolve, our mission remains steadfast: to redefine how fans experience and engage with Tunisian football.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}