{% extends 'back-office.html.twig' %}

{% block body %}


<div id="piechart" style="width: 500px; height: 300px; margin-bottom: 20px;"></div>
    <div id="barchart" style="width: 500px; height: 300px; margin-bottom: 20px;"></div>
  

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawPieChart);
        google.charts.setOnLoadCallback(drawBarChart);

        function drawPieChart() {
            var data = google.visualization.arrayToDataTable([
                ['reclamations', 'Nombre d\'reclamation'],
                {% for reclamations, count in counts %}
                    ['{{ reclamations}}', {{ count }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Répartition des reclamations par type',
                is3D: false,
                width: 800,
                height: 625
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        
    </script>
{% endblock %}